.container {
	width: 300px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.left, .right{
	margin-top: 25%;
}

.burger-container{
	width:200px;
	margin-left: 100px;
	margin-right: 100px;
}

.slider-buttons{
	min-height: 20px;
}

.slider-buttons li{
	display: inline;
	min-height: 20px;
	border-radius: 50%%;
	padding: 5px 5px 5px 5px;
}

.slider-buttons li:hover{
	cursor: pointer;
}

.active{
	background-color: green;
}

img{
	width: 100px;
	height: 100px;
}